<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>



<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <p><%= task.status %></p>
<% end %>







 <!--    Should display a list of all tasks and, for each task:
        a link to its show view (use a link_to helper)
        a link to its edit view
        a link to its delete action. Tips: a standard link does not allow
        to perform DELETE request, so here you should add a method: :delete option
        to your link_to helper.
    Should include a link to the new view to create a new task
 -->
