<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>


This is id: <%= @id %>


<!-- Should display the task's details (content, date of creation, etc.)
and a back-link to the index page. -->
